<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZEN-ben</title>

    <!-- Bootstrap -->
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bundles/default/library/pnotify/pnotify.custom.min.css">
    <link rel="stylesheet" href="/bundles/default/css/style.css">
</head>
<body>
{% block body '' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="/bundles/default/library/socketio/socket.io.js"></script>
<script src="/bundles/default/library/pnotify/pnotify.custom.min.js"></script>
<script src="/bundles/default/js/script.js"></script>
</body>
</html>