parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    foosball.game:
        type:
           tournament:
              entity: '\ZENben\FoosballBundle\Entity\Game\Tournament'
              instance: '\ZENben\FoosballBundle\Game\Type\Tournament\Tournament'
        generators:
           double_elimination:
              class: '\ZENben\FoosballBundle\Game\MatchesGenerator\DoubleEliminationGenerator'

    targetprocess:
        api_base_url: http://****.tpondemand.com/api/v1
        username: api
        password: 
        default_project_id: 
    yammer:
      api_base_url: 'https://www.yammer.com/api/v1'
      token: # see docs how to generate
      default_group_id: ~